@import 'src/styles/variables';
@import 'src/styles/mixins';

.submit-button {
  background-color: $red-secondary-color;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  height: 47px;
  padding: 0 35px;
  border: 1px solid $gray-dark-color;
  font-size: 17px;

  &:hover {
    color: white !important;
  }

  @include media-xs() {
    height: 35px;
    padding: 0 20px;
    font-size: 14px;
  }
}
