/* Colors */
$red-color: #ef4444;
$red-secondary-color: #ff4b5f;
$blue-color: #54cbca;
$white-color: #ffffff;
$gray-dark-color: #272727bf;
$yellow-color: #fffacd;
$green-color: #10e956;

/* Fonts */
$primary-font: 'Fira Sans';
$brand-logo-font: 'Paytone One';
