/* Colors */
$red-color: #ef4444;
$red-secondary-color: #ff4b5f;
$blue-color: #2196f3;
$white-color: rgb(255, 255, 255);
$gray-dark-color: #272727bf;
$yellow-color: #fffacd;
$green-color: #10e956;
$green-dark-color: #eef2f6;
$pink-color: #ede7f6;
$pink-dark-color: #5e35b1;

/* Fonts */
$primary-font: 'Roboto', sans-serif;
