@import 'src/styles/variables';
@import 'src/styles/mixins';

.header {
  background-color: $white-color;
  padding: 16px 24px;
  padding-top: 15px;

  @include media-xs() {
    padding: 10px 15px;
  }
  button {
    background-color: #f3e8ff;
    border-radius: round($number:12px);
    justify-items: center;
    
  }
}
