@import 'src/styles/variables';
@import 'src/styles/mixins';

.header {
  border: 1px solid $gray-dark-color;
  border-radius: 100px;
  padding: 15px 60px;

  @include media-xs() {
    border-radius: 0;
    padding: 10px 15px;
  }
}
