@import 'src/styles/variables';
@import 'src/styles/mixins';

.sidebar-item {
  .active {
    background-color: $pink-color;
    color: $pink-dark-color;
    font-weight: 500;
  }

  .link:hover {
    background-color: $pink-color;
    color: $pink-dark-color;
    font-weight: 500;
  }
}
